a{
    color: rgba(0, 0, 0, 0.9);;
}

h1{
    font-family: Montserrat, sans-serif;
    font-size: 4rem;
}
h2{
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
}
.jumbotron {
    border-radius: 0;
    background-image: url("../images/banner.jpg");
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 0 0 0 999px rgba(0,0,0,.6);
    filter: grayscale(-1%) contrast(200%) brightness(60%);
    -webkit-filter: grayscale(0) contrast(100%);
    color: #f6f6f6;
    font-family: Montserrat, sans-serif;
}